@import "tailwindcss";

:root {
  --primay: #47A794;
  --secondary: #DB5A8A;
  --third: #FDCB70;
  
  --font-primary: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background: #fcf7ec;
}

::selection {
  background: #bee5dc;
  color: #2c6f62;
}

.wave-svg {
  display: block;
  width: 100%;
}
